{% extends 'base.html' %}

{% block content %}

<body>
    <h2 class="category-header">Category: {{ category }}</h2>
    <div class="box">
        <ul class="items-list">
            {% for item in items %}
                <li>
                    <strong class="item-title">{{ item.title }}</strong> 
                    <strong class="item-author">{{ item.author }}</strong>
                    <div class = "image-container">   
                        <img class = "image" src="{{ item.thumb }}" alt="Thumbnail" width="200">
                    </div>
                    <audio controls>
                        <source src="{{ url_for('static', filename=item.path) }}" type="audio/mp3">
                    </audio>
                    <strong class="item-date">{{ item.date }}</strong>

                    <form action="{{ url_for('main.category', category_name=category) }}" method="POST">
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <label for="new_category">New Category:</label>
                        <input type="text" name="new_category" id="new_category" placeholder="Enter new category" value="{{ item.category }}">
                        <button class ="download-link" type="submit">Change Category</button>
                    </form>

                    <a class="download-link" href="{{ url_for('static', filename=item.path) }}" download>Download</a>

                    <form action="{{ url_for('main.category', category_name=category) }}" method="POST">
                        <input type="hidden" name="item_id" value="{{ item.id }}">
                        <input type="hidden" name="_method" value="DELETE">
                        <button class = "download-link" type="submit">Delete</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="back-container">
        <a class="back-link" href="{{ url_for('main.collections') }}">Back to Collections</a>
    </div>
</body>

{% endblock %}